h1 {
  text-align: center;
}

.date-picker-row {
  display: flex;
  justify-content: space-around;
}

.page-picker-row {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.page-center {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.Dropdown-root {
  position: relative;
}
